body{
  background-color: rgb(54, 49, 49);
}

table {
  position: relative;
  margin: auto;
  outline: 2px solid black;
}

.light-cell {
  background: antiquewhite;
  width: 75px;
  height: 75px;
  user-select: none;
}

.dark-cell {
  background: gray;
  width: 75px;
  height: 75px;
  user-select: none;
}

.selected {
  background: limegreen;
}

.winner-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50;
  border-radius: 10px;
  width: max-content;
}

h1, h2{
  text-align: center;
  color: grey;
  font-family: 'Roboto Mono', monospace;
}

h3 {
  color: grey;
  font-family: 'Roboto Mono', monospace;
  position: absolute;
  bottom: 0;
  right: 45.5%;
}

/* *********************************************** */
.active {
  cursor: pointer;
}

.unclickable {
  pointer-events: none;
}

.possible-move {
  background-color: orange;
}

.selected-piece {
  box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.75);
}
